<h1>Sign up page</h1>
<form action="/users/signup" method="POST">
    <label> Username
      <input type="text" name="username">
    </label>

    <label> Password
      <input type="password" name="password">
    </label>

    <button type="submit">Sign in</button>
</form>